* {
  margin: 0; 
  padding: 0;
}


body {
  background-color: rgb(20, 32, 100);
  background-image: radial-gradient(rgb(255, 255, 255) 2px, transparent 2px);
  background-size: 30px 30px;
  margin: 0;
  color: #f8f8f8;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #011c64;
  color: rgb(197, 198, 245);
  z-index: 1;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 24px;
}

nav a {
  color: #a1b1fc;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(178, 245, 184);
  border-bottom: #fcf830 dotted 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center
}

.profile-pic {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
  clip-path: circle(50%);
  border-radius: 50%;
  object-fit: cover;
}

.space {
   width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
  clip-path: circle(50%);
  border-radius: 50%;
  object-fit: cover;
}

section.bio {
  padding-top: 50px;
}

.bio-text h2{
  max-width: 500px;
}

  .bio p {
  font-size: 1.5em;
}

section.projects h2 {
  text-align: center;
}

.profile-card {
  background-color: #9e83c2 ;
  width: 92%;
  box-shadow: #f1f0f0 8px 8px 15px;
  flex-wrap: wrap;
  border-width: 5px;
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  padding: 8px;
  margin: 0 auto;
}

.projects {
  background-color: #987ebb;
  color: aliceblue;
  padding: 50px 20px;
  text-align: left;
  width: 86%;
  box-shadow: #707070 10px 10px 15px;
  flex-wrap: wrap;
  border-width: 5px;
  border-style: groove;
  border-color: #6800f0;
  padding: 50px;
  margin-top: 50px;
}
.my-projects {
  display: flex;
  gap: 10px;
}

.about-me {
  background-color: #9e83c2;
  width: 95%;
  display: flex;
  justify-content: center;
  box-shadow: #f8f8f8 8px 8px 15px;
  flex-wrap: wrap;
  border-width: 5px;
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  padding: 50px 10px;
  margin-top: 50px;
}

.about-content {
display: flex;
align-items: center;
gap: 20px;
justify-content: center;
}

.about-content p {
  max-width: 500px;
  font-size: 1.3em;
  text-align: left;
}

footer {
  background-color: #9e83c2;
  padding: 50px;
  color: #f8f8f8;
  text-align: center;
  margin-top: 50px;
  border-style: double;
}

.about-info {
  display: flex;
  gap: 35px;
  background-color: #ee99cb;
}

.about-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  clip-path: circle(50%);
}

.journey {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.education-skills {
  background-color: #9aa6e9;

}

.education-content {
  background-color: #ee99cb;
  width: 350px;
}

.ed-photo {
  height: 150px;
  width: 150px;
  display: flex;
}

.skills-two {

}

@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 20px;
  }
.my-projects {
  flex-direction: column;
}

}

@media screen and (max-width:425px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

}